@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  background-color: #000000;
  color: #fff;
}

h1,
h2,
a,
p,
li {
  margin: 0;
}

h1 {
  font-size: 4rem;
}

p {
  padding: 0.625rem 0;
  font-size: 1.5rem;
}

.cor-verde {
  color: #d3e97a;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  align-items: center;
}

.logo a {
  font-size: 2rem;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}

.menu {
  display: flex;
  gap: 2.5rem;
}

li {
  list-style: none;
}

.menu a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #c7c7c7;
  transition-duration: 0.4s;
  font-family: "inter", sans-serif;
}

.menu a:hover {
  color: #d3e97a;
}

.icones {
  display: flex;
  margin-top: 0.625rem;
  gap: 1rem;
  align-items: center;
}

.conteudo {
  width: 1231px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  margin-top: 2.5rem;
}

.info-pessoal {
  align-self: center;
}

.info-pessoal h1 {
  font-size: 5rem;
  font-weight: 300;
}

.info-pessoal p {
  font-family: "Manrope", sans-serif;
  font-size: 1.125rem;
}

.info-pessoal span {
  font-weight: 700;
}

.icones {
  margin-top: 1.25rem;
}

.foto-pessoal {
  justify-self: left;
}
.experiencia-conteudo h1,
p {
  font-family: "manrope", sans-serif;
}

.experiencias-titulo h1 {
  width: 31.25rem;
  font-size: 10rem;
  text-align: right;
  font-weight: 400;
  word-break: break-word;
}

.cargo-tempo {
  display: flex;
  justify-content: space-between;
}

.funcoes {
  display: grid;
  margin-left: 1.5rem;
}

.funcoes a {
  line-height: 1.5;
  font-size: 1.2rem;
  font-family: "Manrope", sans-serif;
}

.projeto {
  width: 25rem;
  margin-top: 2rem;
  background-color: #1a1a1a;
  padding: 1.5rem;
  border: 0.01rem solid transparent;
  border-radius: 0.6rem;
}

.projeto:hover {
  border-color: #d3e97a;
}

.projeto img {
  width: 100%;
}

.projetos-conteudo {
  grid-column: 1 / -1;
}

.projetos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.titulo-principal h2 {
  font-size: 5rem;
  font-weight: 500;
}

.projeto h2,
.projeto p {
  text-align: center;
}

.titulo-projeto h2 {
  font-size: 1.5rem;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}
.tecnologias p,
.titulo-projeto p {
  font-size: 1.2rem;
}

.tecnologias {
  display: flex;
  justify-content: space-between;
}
